@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
}

@layer utilities {
  .scrollbar-hide {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
